{% extends "UniteamPresentationBundle::pages_layout.html.twig" %}

{% block title %}NZ - A propos{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row"> 

                <!-- Content -->
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h2>A propos</h2>
                            <span class="byline">Qui sommes-nous ?</span>
                        </header>
                        <p>Nous sommes 2 étudiants de maîtrise en informatique à l'Université du Québec à Chicoutimi dans le cadre d'un double diplôme avec notre école Française Polytech Annecy.</p>

                        <p>Ce site web a été créé dans le cadre de notre cours de web sémantique pour mettre en évidence les avanatges des technologies de ce domaine en ce qui concerne la gestion de l'information.</p>

                        <a class="image full"><img src="{{ asset('bundles/uniteampresentation/images/about1.jpg') }}" alt="" /></a>

                    </section>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block textsource %}{% endblock %}