{% extends "UniteamPresentationBundle::pages_layout.html.twig" %}

{% block title %}NZ - Infos utiles{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row"> 

                <!-- Content -->
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h2>Informations utiles</h2>
                            <span class="byline">Tout pour réussir votre voyage</span>
                        </header>

                        <a class="image full"><img src="{{ asset('bundles/uniteampresentation/images/infos1.jpg') }}" alt="" /></a>
                        
                        <span class="byline">Formalités d'entrée</span>
                        <p>Les ressortissants français, belges, suisses et canadiens peuvent séjourner en Nouvelle-Zélande jusqu’à 3 mois sans visa, à condition d’avoir un passeport valable au moins 3 mois après le départ de Nouvelle-Zélande, un billet d’avion aller-retour, et de pouvoir justifier d'une somme d'argent suffisante pour subvenir à leurs besoins sur place (1 000 NZ$ par personne et par mois).</p>

                        <p>Si vous séjournez plus de 3 mois, la demande de visa doit être déposée auprès du Visa Application Centre London, et non auprès de l'ambassade, qui n'assure plus de fonctions consulaires.</p>

                        <span class="byline">Langue</span>
                        <p>La langue officielle est bien entendu l’anglais, mais aussi le maori. L’anglais est emprunt d'un accent particulier, de quelques néologismes et mots spécifiquement locaux, souvent tirés du vocabulaire maori (comme ta, utilisé pour merci). Dans les zones urbaines, une personne sur 5 parle une seconde langue en plus de l’anglais (maori, samoan...). Attention à une spécificité héritée du maori : wh = f. On prononce ainsi « Fangarei » pour Whangarei.</p>

                        <span class="byline">Budget</span>
                        <p>Le coût de la vie est un peu inférieur à celui que l'on connaît en Europe, mais proportionné aux salaires, qui sont eux aussi plus bas. Pour être réaliste, il faut prévoir un budget quotidien d’au moins 100 NZ$ (64 €) par jour et par personne, hébergement en petit hôtel ou motel inclus. On peut toutefois dépenser bien moins si on s’en tient aux AJ, aux sandwiches et à l'auto-stop… Pour faire ses courses, les supermarchés Pack n’ Save sont les moins chers... mais les ventes - comme le nom l'indique - se font par lots.</p>

                        <p>Bonne nouvelle : l’hébergement est assez abordable en Nouvelle-Zélande :
                        <ul style="list-style-type:none; text-align: justify">
                            <li>- Bon marché : il existe quasiment partout des auberges de jeunesse et des logements bon marché destinés aux backpackers. Comptez entre 20 et 30 NZ$ la nuit en dortoir de 3 à 8 personnes en moyenne, et 60 à 80 NZ$ par chambre double.</li>
                            <li>- Prix moyens : pour une chambre double en motel ou en hôtel de chaîne, prévoyez entre 80 et 120 NZ$.</li>
                            <li>- Plus chic (Auckland et Wellington surtout) : comptez au moins 150 NZ$ pour un hôtel équivalent à un 3-étoiles, et jusqu'à 250 NZ$ pour un équivalent 4-étoiles.</li>
                        </ul>
                        </p>
                        <p>En Nouvelle-Zélande, il n’est pas d’usage de donner des pourboires, sauf dans certains grands restaurants (jusqu’à 10 % de l’addition, selon le service).</p>

                        <span class="byline">Météo</span>
                        <p>Pendant l'été austral (de décembre à février), le temps est agréable, ensoleillé et chaud sans excès, mais humide. Il fait chaud dans l'île du Nord, un peu plus doux dans l'île du Sud. Les températures les plus fraîches sont enregistrées dans le Sud de l'île du Sud et sur l'île Stewart. L'été austral reste la période la plus propice aux randonnées.</p>

                        <p>L’hiver austral est doux. Dans les basses terres de l'île du Nord et sur une bonne partie de l'île du Sud, il gèle rarement. En revanche, au sud de l'île du Sud, chutes de neige et vagues de froid sont fréquents. Le vent froid et l'air humide ajoutent accentuent le froid ressenti. On skie dans les Alpes néo-zélandaises, recouvertes de neiges éternelles. Vers Invercargill, il n’est pas rare qu’il gèle.</p>

                        <span class="byline">Santé</span>
                        <p>Il n’y a pas le moindre danger d’un point de vue sanitaire en Nouvelle-Zélande. Aucun vaccin n’est exigé pour entrer dans le pays. Prévoyez quand même une assurance de rapatriement sanitaire.</p>

                        <p>Sur place, contentez-vous de faire attention aux coups de soleil, protégez-vous avec une crème solaire à indice élevé (même par temps gris), surtout au Sud, où l’on approche le trou dans la couche d’ozone. Et buvez régulièrement de l’eau.</p>

                        <p>En Nouvelle Zélande, les bébêtes sont totalement inoffensives, elles ne sont pas venimeuses. Vous ne risquez pas, comme en Australie, de rencontrer un crocodile d’estuaire, une araignée mortelle ou un méchant requin et les kiwis ne mordent pas ! Ici, il n’y a même pas de serpents.
                            Restent les piqûres d'insectes. Même si elles ne sont jamais très graves, elles peuvent être désagréables. En été, attention à la sand fly, un minuscule petit insecte dont la piqûre démange furieusement, et qui laisse des traces durables.</p>

                        <p>Un seul numéro : le 111, où l’on vous dirige vers le service adéquat - police, pompiers ou services médicaux (ambulances).</p>
                        
                    </section>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block sourceurl %}http://www.routard.com/guide/code_dest/nouvelle_zelande.htm{% endblock %}

{% block sourcename %}Le Routard{% endblock %}