{% extends "UniteamPresentationBundle::pages_layout.html.twig" %}

{% block title %}NZ - Paysages{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row"> 

                <!-- Content -->
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h2>Paysages</h2>
                            <span class="byline">Une terre de contrastes, entre neige et océan</span>
                        </header>
                    </section>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block sourceurl %}{% endblock %}

{% block sourcename %}{% endblock %}