{% extends "UniteamPresentationBundle::pages_layout.html.twig" %}

{% block title %}NZ - Sport{% endblock %}

{% block main %}
    <div id="main">
        <div class="container">
            <div class="row"> 

                <!-- Content -->
                <div id="content" class="12u skel-cell-important">
                    <section>
                        <header>
                            <h2>Sport</h2>
                            <span class="byline">Le rugby, mais pas seulement...</span>
                        </header>

                        <a class="image full"><img src="{{ asset('bundles/uniteampresentation/images/sport1.jpg') }}" alt="" /></a>

                        <p>Le sport joue un rôle majeur dans la culture néo-zélandaise, particulièrement le rugby à XV. Parmi les autres sports très populaires, on trouve le cricket, le football, le rugby à XIII, le basket-ball, le netball et le boulingrin, ainsi que le golf, le tennis, le cyclisme, le hockey sur gazon, le ski, le snowboard, le softball et plusieurs sports nautiques, dont le surf, le nautisme, le kayak, le surf lifesaving et l'aviron. Elle est également reconnue pour son bon ratio médailles-population aux Jeux olympiques et du Commonwealth.</p>

                        <p>Le rugby à XV est très étroitement lié à l'identité nationale néo-zélandaise. L'équipe de Nouvelle-Zélande de rugby à XV, surnommée les « All Blacks », a les meilleures statistiques de victoires de toutes les équipes nationales. Elle a accueilli la première Coupe du monde de rugby à XV, qu'elle remporta, et la Coupe du monde de 2011, qu'elle remporta aussi. En outre, l'équipe nationale de Nouvelle-Zélande a aussi gagné la Coupe du monde 2015, qui s'est déroulée en Grande-Bretagne. Le haka, une danse guerrière traditionnelle maori, est exécutée par les joueurs juste avant le début de chaque match.</p>

                        <a class="image full"><img src="{{ asset('bundles/uniteampresentation/images/sport2.jpg') }}" alt="" /></a>
                        <span class='legend'>L'équipe de cricket néo-zélandaise après un match de test face à l'Angleterre</span><br>
                        
                        <p>Le cricket est considéré comme le principal sport estival de la Nouvelle-Zélande et l'équipe de Nouvelle-Zélande de cricket (surnommée les Black Caps), est dans les toutes meilleures équipes du monde dans les deux formes du jeu, test cricket et One-day International. Elle accueillera, en association avec l'Australie, la Coupe du monde de cricket de 2015.

                        <p>La Nouvelle-Zélande est également l'une des nations les plus performantes dans le domaine de la voile, particulièrement dans les courses autour du monde et de longue distance. Team New Zealand a gagné la Coupe de l'America en 1995 et 2000.</p>

                        <p>Le netball est le principal sport féminin : l'équipe nationale, les Silver Ferns, a été plusieurs fois championne du monde. En équitation, on connaît surtout Mark Todd, dit le « Cavalier du Siècle ». Parmi les autres personnalités du sport néo-zélandais, on trouve Sir Richard Hadlee (cricket), Jonah Lomu (rugby à XV), Sir Peter Blake (nautisme), Michael Campbell (golf) et Valerie Adams (athlétisme).</p>

                        <p>La Nouvelle-Zélande est considérée par certains comme une destination de sport extrême et tourisme d'aventure. Sa réputation en sport extrême vient de l'établissement de la première organisation de saut à l'élastique du monde, sur le pont de Kawarau près de Queenstown dans l'île du Sud en 1986. Le zorbing est un sport extrême originaire du pays.</p>
                        <a class="image full"><img src="{{ asset('bundles/uniteampresentation/images/sport3.jpg') }}" alt="" /></a>
                        <span class='legend'>Le zorbing, sport extrême d'origine néo-zélandaise</span>
                        
                    </section>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block sourceurl %}https://fr.wikipedia.org/wiki/Nouvelle-Z%C3%A9lande{% endblock %}

{% block sourcename %}Wikipedia - Nouvelle-Zélande{% endblock %}